body {
    background:#fff;
    font-family: 'Lato';
    color:#2b2b2b;
    margin:0;
    padding:0;
    font-size:1.4em;
    line-height:180%;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}