body {
    background:#F1F1F1!important;
    font-family: 'Lato';
    color:#2b2b2b;
    margin:0!important;
    padding:0!important;
    font-size:1.4em;
    line-height:180%;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

a {
    text-decoration:none;
    color:#2b2b2b;
}

nav {
    font-family: 'Karla' ;
    display:grid;
    background:#30345B;
    padding:1em 0 .5em 0;
    width:100vw;
    height:6em;
    position:fixed;
    z-index:2;
    margin-top:-6em;
    grid-template-columns:30vw 50vw;
}
  
#logo{
    margin-left:20vw;
    font-weight:700;
}

#logo a {
    color:#fff;
}
  
#links {
    text-transform:uppercase;
    text-align:right;
}

#links a {
    margin-right:1em;
    color:#fff;
    line-height:98.22px;
    height:98.22px;
    vertical-align:center;
}

#links a:last-child {
    margin-right:0em;
}

.questionTitle {
    font-family:'Karla';
    font-weight:700;
    font-size:1.5em;
    padding-bottom:.6em;
    margin-bottom:1.5em;
    border-bottom:1px solid #646464;
}

#wrapper {
    width:80vw;
    margin:10vw auto 0 auto;
    padding:7em 0 5em 0;
    background:#F1F1F1;
    width:100vh;
    height:auto;    

}

#questionCont {
    background:#fff;
    padding:2em 2em 5em 2em;
    margin-bottom:5em;
    border-radius:.5em;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.required {
    color:#FD6262;
}

.question {
    display:inline-block;
}

.moreInfo {
    font-size:.6em;
    color:#646464;
    margin:-1.5em 0 .7em 0;
}

.contButton {
    font-family:'Karla';
    color:#fff;
    font-weight:700;
    font-size:.9em;
    text-transform:uppercase;
    border-radius:7em;
    padding:.5em 1.2em;
    float:right;
    background:#30345B;
}

.contButton:hover {
    color:#fff;
}

.autoSave {
    text-align:center;
    font-weight:700;
    font-family:'Karla';
    font-size:.9em;
}

